#contact iframe
{
    width: 100%;
}

.travel_mainDiv{
    border: 1px solid lightgrey;
}

.travel_mainDiv img{
    width: 100%;
}

.travel_mainDiv h5 , .travel_mainDiv p {
    margin: 20px;
}

#hamner
{
    width: 600px;
}

.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i
{
    float:right;
}

.movie_text span
{
   color: orange;
}

#across_the_spiderverse
{
    width: 450px;
}

#sonic
{
 width: 450px;
}

.book
{
    margin-bottom: 20px;
}

#vol_11
{
 width: 360px;
}

#contact iframe
{
 width: 100%;
}
